// ================== Login ==================== */
.activityLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 32px);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
}

    .userAvatar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin-right: 0.5rem;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid white;
        transform: scale(1);

        img {
            width: 30px;
            height: 30px;
        }

        // @media (orientation: landscape) and (max-height: 300px) {
        //     width: 24px;
        //     height: 24px;
        // }
    }

    .txt {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        font-size: 200px;
        font-weight: 900;
        letter-spacing: 0.6px;
        line-height: 20px;

        

        &>span {
            display: inline-flex;
            font-family: "Nunito", Helvetica, Arial, sans-serif;
            line-height: 1;
            font-size: 20px;

            // // portraitt educaplay  
            // @media screen and (max-width: 570px) and (orientation: portrait) {
            //     font-size: 14px;
            // }

            // // Lanscape educaplay  
            // @media screen and (max-width: 1024px) {
            //     font-size: 20px;
            // }
        }
    }

    .identified {
        display: none !important;
        margin-right: 0.25rem;
    }
    .notIdentified {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;

        // @media (orientation: landscape) and (max-height: 300px) {
        //     font-size: 14px;
        // }
    }

    .name {
        font-family: "Nunito", Helvetica, Arial, sans-serif;
        font-weight: 900;
    }

    // hover {
    //     .activityLogin__user {
    //         transform: scale(1.1);
    //         transition: all .15s ease;
    //     }

    //     .activityLogin__notIdentified {
    //         text-decoration: underline;
    //     }
    // }