@use "../../styles/variables.scss" as *;

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    min-width: 220px;
    max-width: 300px;
    font-family: 'Nunito', "Segoe UI", Segoe, Helvetica, Arial, sans-serif;
    font-size: $text-md;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 1.5rem;
    outline: 0;
    color: #070e00;
    background: #f2ca0d;
    border: 1px solid #f2ca0d;
    border: 1px solid transparent;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.3);

    @media (min-width: #{map-get($breakpoints, 'md' )}) {
        min-width: 300px;
        height: 3.25rem;
        border-radius: 1.625rem;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        min-width: 320px;
        height: 3.5rem;
        border-radius: 1.75rem;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
        min-width: 340px;
        height: 4rem;
        border-radius: 2rem;
    }
}

.svg {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}