.button {
    word-break: break-word;
    user-select: none;
    pointer-events: all;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    font-family: "Nunito", "Segoe UI", Segoe, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    outline: 0;
    transition: all 0.2s ease-in-out;
    min-width: 320px;
    height: 3.5rem;
    border-radius: 1.75rem;
    font-size: 1.25rem;
    color: #070e00;
    background: #f2ca0d;
    border: 1px solid #f2ca0d;
    margin-bottom: auto;
}

.svg {
    word-break: break-word;
    user-select: none;
    pointer-events: all;
    font-family: "Nunito", "Segoe UI", Segoe, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-size: 1.25rem;
    color: #070e00;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.title {
    word-break: break-word;
    user-select: none;
    pointer-events: all;
    font-family: "Nunito", "Segoe UI", Segoe, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-size: 1.25rem;
    color: #070e00;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}