.background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: -50%;
    right: 0;
    overflow: hidden;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78px 0;
    color: #fafff3;
    text-shadow: 0 6px 0 #c2371a;
    box-shadow: 0 6px 0 #c2371a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
}

.title {
    padding-bottom: 16px;
    font-size: 18vw;
    line-height: 0.8;
}

.pointsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 48px;
    line-height: 1.05;
    border-top: 2px solid #fafff3;
    text-shadow: 0 4px 0 #c2371a;
}

.pointsTitle {
    font-size: 12px;
    text-align: left;
}

.pointsValue {
    font-size: 32px;
}