@import "../breakpoints.scss";

.background {
    background: radial-gradient(circle, rgb(250 255 243 / 20%) 0%, rgb(110 177 24 / 20%) 35%, rgb(0 0 0 / 20%) 100%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #0B1500;
}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    // //Movil landscape mini
    // @media only screen  and (max-height: 300px) and (orientation: landscape) {
    //     padding: 8px 0;
    // }
    
}

.logo {
    width: 64px;
    height: auto;
    filter: drop-shadow(0 4px 0 rgba(0, 0, 0, 0.55));
    @media (min-width: #{map-get($breakpoints, 'md' )}) {
        width: 80px;
        filter: drop-shadow(0 5px 0 rgba(0, 0, 0, 0.55));
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        width: 96px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
        width: 124px;
        filter: drop-shadow(0 8px 0 rgba(0, 0, 0, 0.55));
    }
    @media (min-width: 2800) {
        width: 224px;
        filter: drop-shadow(0 14px 0 rgba(0, 0, 0, 0.55));
    }
}

.gameData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 45px;
    @media (orientation: landscape) {
        flex-direction: row;
    }
    @media (min-width: #{map-get($breakpoints, 'md' )}) {
            padding-top: 80px;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
            padding-top: 96px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
            padding-top: 124px;
    }
    @media (min-width: 2800px) {
        padding-top: 224px;
    }
    //Movil landscape mini
    @media (max-height: 300px) {
        padding-top: 48px;
    }
}
.imageWrapper {
    display: flex;
    align-items: center;
    min-width: 33%;
    height: 100%;
    max-height: -webkit-fill-available;
    @media (orientation: landscape) {
        justify-content: flex-end;
        margin-right: 16px;
    }
    @media (orientation: portrait) {
        margin: 0;
        height: auto; //borrar important */
        justify-content: center;
        margin-bottom: 4px;
    }
}
.image {
    width: 65px;
    height: auto;
    @media (min-width: #{map-get($breakpoints, 'sm' )}) {
        width: 96px;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        width: 180px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxl' )}) {
        width: 220px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
        width: 280px;
    }
    @media (min-width: 3840px) {
        width: 360px;
    }
    @media (max-width: 540px) {
        width: 80px;
    }
    //Movil landscape mini
    @media only screen 
    and (max-height: 300px) 
    and (orientation: landscape) {
        &--mob {
            display: inline-block;
        }
    }
}
.titleWrapper {
    display: flex;
    flex-direction: column;
    @media (orientation: landscape) {
        text-align: left;
    }
}
.gameTitle {
    max-width: 90%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 1.1;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: 0 2px 0 #070e00;
    color: #fafff3;
    margin: 0;
    @media (min-width: #{map-get($breakpoints, 'md' )}) {
        font-size: 24px;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        font-size: 40px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
        font-size: 64px;
    }
    @media (min-width: 3200px) {
        font-size: 96px;
    }
    @media (max-height: 540px) {
        font-size: 14px;
    }
}
.gameType {
    margin-top: 0;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1;
    color: #6eb118;
    text-shadow: 0 2px 0 black;
    @media (min-width: #{map-get($breakpoints, 'md' )}) {
        font-size: 18px;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        font-size: 24px;
    }
    @media (min-width: #{map-get($breakpoints, 'xxxl' )}) {
        font-size: 40px;
    }
    @media (min-width: 3200px) {
        font-size: 56px;
    }
    @media (max-height: 540px) {
        font-size: 11px;
    }
}

.footerWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 42%;
    padding-top: 9px;
    box-shadow: 0 -1px 0 rgba(110,177,24,1);
    background: #6eb118;
    @media only screen and (orientation: landscape) {
        height: 48%;
    }
    @media only screen and (orientation: landscape) and (max-height: 600px) {
        height: 42%;
        padding: 0;
        align-items: flex-start;
    }
}

.buttonWrapper {
    padding-bottom: 67px;
}

.decoration {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: calc(100% - 4px);
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 25px;
    gap: 2px;
    margin-bottom: 2px;
    opacity: 0.8;
    &Educaplay {
        width: 48px;
        height: auto;
    }
    &Txt {
        font-size: 8px;
        font-weight: 200;
        line-height: 1.5;
        color: white;
    }
}

.footerBottom {
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}