///VARIABLES
$breakpoints : (
    xs: 0, 
    sm: 544px, //in-mobile
    md: 768px, //in-desktop
    lg: 1024px, //in-tablet
    xl: 1280px, //in-half-desktop
    xxl: 1400px, //in-television
    xxxl: 1920px, //in-hd-screen
);