@use "../styles/variables.scss" as *;

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px 64px;
    width: 100%;
    background: #112000;
    color: #fafff3;
}

.shareWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 0 48px 0;
    font-size: $text-md;
}

.linkWrapper {
    display: flex;
    align-items: center;
    gap: 6px;

    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        gap: 8px;
    }
}

.shareLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background: #6eb118;

    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        width: 48px;
    }
}

.scoreWrapper {
    width: 100%;
    max-width: 500px;
    text-transform: uppercase;
    padding: 32px 0;
}

.scoreLine {
    padding: 0 16px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fafff3;
}

.firstScoreLine {
    border-radius: 8px;
    border: 1px solid #fafff3;
}

.scoreTitle {
    font-size: 14px;//var(--text-sm);
    font-weight: 700;
}

.scoreValue {
    font-size: 20px;//var(--text-lg);
    font-weight: 900;
}

.reports {
    padding: 32px 0;
}

.reportsButton {
    color: white;
    background: #6eb118;
    border: 1px solid #6eb118;
}