.buttonMenu {
    width: 100%;
    position: absolute;
    bottom: 4px;
    padding: 0 3px 3px;
    display: flex;
    justify-content: flex-end;
}

.hideTouchDevice {
    @media (hover: none) {
        display: none !important;
    }
}