// ================== Botonera =================== */
.buttonMenu {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}

.buttonWrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    min-width: auto;
    height: 48px;
    margin-left: 12px;
    background: rgba(255,255,255,0.3);
    border: 0;
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.0), 0 0.5px 0 0 rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255,255,255,0.5);
    
    border-radius: 4px;
    pointer-events: all;
    cursor: pointer;
    &:hover, &:focus {
        background: rgba(255,255,255,0.8);
        transform: scale(1.05);
        box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.3), 0 0 0 3px rgba(0, 0, 0, 0.15), 0 0 0 0.5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255,255,255,1);
        transition: all 0.2s ease-in;
        svg {
            transition: all 0.2s ease-in;
            path {
                transition: transform 0.2s ease-in;
                // fill: rgb(110, 177, 24);
                stroke: rgb(110, 177, 24);
            }
        }
    }
}

// =================== Fullscreen ==================== */
.fullscreen {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    // mouse devices */
    display: inline-flex;
    @media (hover: none) {
        display: none;
    }

        .fullscreenIn {
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 24px;
                height: 24px;
                transition: all 0.2s ease-out 0.2s;
                path {
                    transition: all 0.2s ease-out 0.2s;
                    fill: white;
                }
            }
        }
        .fullscreenOut {
            justify-content: center;
            align-items: center;
            display: none;
            svg {
                width: 24px;
                height: 24px;
                transition: all 0.2s ease-out 0.2s;
                path {
                    transition: all 0.2s ease-out 0.2s;
                }
            }
        }
        &.act {
            .i__fsc {
                display: none;
            }
            .i__ssc {
                display: flex;
            }
        }
        &::before {
            display: none;
        }
}
// ==================== Btn Exit ===================== */
.exit {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    opacity: 0;
    transform: translateY(200px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 0;
        background: rgba(255,255,255,0.9);
        box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.0), 0 0.5px 0 0 rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255,255,255,0.7);
        border-radius: 4px;
        margin-left: 12px;
        min-width: auto;
        cursor: pointer;
        transition: all 0.2s ease-out 0.2s;
        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
            margin-left: 6px;
            box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.0), 0 0.5px 0 0 rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255,255,255,0.7);
        }
        &:hover, &:focus, &:active {
            transform: scale(1.05);
            box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(0, 0, 0, 0.15), 0 0 0 0.5px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255,255,255,0.7);
            transition: all 0.4s ease-in;
            svg {
                transition: all 0.2s ease-in;
                .i__exit__arrow {
                    transform: translateX(4px);
                    transition: transform 0.2s ease-in;
                }
            }
        }
        &__i {
            margin: 0;
        }
        &__txt {
            display: none;
            margin-left: 12px;
        }
        svg {
            overflow: visible;
            transition: all 0.2s ease-out 0.2s;
            path {
                stroke-width: 2px;
                transform: translateX(0);
                transition: all 0.2s ease-out 0.2s;
            }
        }
        &::before {
            display: none;
        }
    }
    &.act {
        position: relative;
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        @media screen and (orientation: landscape) {
            transform: translateX(0) translateY(0);
        }
        .btn {
            background: rgba(255,255,255,0.6);
            transition: all 0.2s ease-in 0.2s;
            &:hover {
                background: rgba(255,255,255,0.9);
                transition: all 0.2s ease-out 0.2s;
            }
        }
    }
    body.g__mov--keyb & {
        display: none;
    }
}

// ==================== Btn Opciones ===================== */
.options {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    .i__options svg path {
        stroke-width: 1.65px;
    }
}