@use "../styles/variables.scss" as *;

.wrapper {
    display: inline-flex;
    padding: 6.5px 18.5px;
    border-radius: 9999px;
    background: #fafff3;
    border: 5px solid #6eb118;
    box-shadow: 0 3px 0 rgba(7, 14, 0, 0.3), 0 0.5px 0 rgba(7, 14, 0, 0.8);//0 6px 0 rgba(7, 14, 0, 0.3), 0 0.5px 0 rgba(7, 14, 0, 0.8);

    @media (min-width: #{map-get($breakpoints, 'md' )}) {
        padding: 6.5px 32px;
        border: 8px solid #6eb118;
    }
    @media (min-width: #{map-get($breakpoints, 'lg' )}) {
        padding: 15px 54px;
    }
}

.timer {
    color: #2b4b04;
    font-size: $text-xl;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 1;
}